ClassLibrary1/TestProject1/defData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="Root">
  <xsd:complexType>
  <xsd:sequence>
    <xsd:element maxOccurs="unbounded" name="variable_list">
    <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="id"/>
      <xsd:element name="err"/>
      <xsd:element name="input"/>
      <xsd:element name="output"/>
    </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
  </xsd:complexType>
</xsd:element>
</xsd:schema>